.wrapper {
  width: max-content;
  height: max-content;
  max-width: 100%;
  position: relative;
  margin: 0 auto;

  .wrapper__img_btn {
    width: max-content;
    height: max-content;
    cursor: pointer;
    margin: 0 auto;
    background-color: transparent;
    display: block;

    .wrapper__img {
      width: max-content;
      height: max-content;
      display: block;
      opacity: 0;
      transition: 350ms;
    }
    .wrapper__img_active {
      transition: 350ms;
      opacity: 1;
    }
  }
}
