.wrapper {
  width: max-content;
  height: max-content;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  background-color: var(--bg-blue);
  gap: 10px;

  .wrpper__btn {
    width: max-content;
    height: max-content;
    cursor: pointer;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    gap: 5px;
    transition: 250ms;

    /* &:hover {
      transform: 300ms;
      .wrapper__btn_text {
        transform: scale(1.05);
      }
    } */
    .wrapper__btn_text {
      width: max-content;
      height: max-content;
      font-family: "Unbounded-Regular";
      font-size: 14px;
      font-weight: light;
      color: var(--main-black);
      transition: 250ms;
    }
    .wrapper__btn_icon {
      width: max-content;
      height: max-content;
      max-width: 20px;
      max-height: 20px;
    }
  }
  .wrpper__btn_active {
    transform: 250ms;

    .wrapper__btn_text {
      color: var(--main-white);
    }
  }
}
