.wrapper {
    width: max-content;
    max-width: 90%;
    height: max-content;
    position: relative;
    display: block;
    margin: 15px auto;

    .wrapper__img {
        width: max-content;
        max-width: 100%;
        height: max-content;
        margin: 0 auto;
    }
    .wrapper__info {
        width: 100%;
        height: max-content;
        margin: 21px auto;

        .wrapper__info_block {
            width: 100%;
            height: max-content;
            margin-top: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            &:first-child {
                color: var(--main-white);
            }           
            &:not(:first-child) {
                color: var(--main-grey);
            }
        }
        .wrapper__info_text {
            width: max-content;
            height: max-content;
            font-family: "Unbounded-Regular";
            font-weight: lighter;
            font-size: 14px;
        }
    }
    .wrapper__icon {
        width: max-content;
        height: max-content;
        display: block;
        margin: 0 auto;
    }
}