.wrapper {
  width: max-content;
  max-width: 90%;
  height: max-content;
  position: relative;
  display: block;
  margin: 15px auto;

  .wrapper__slider_block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    .wrapper__slider_icon {
      width: max-content;
      height: max-content;
      opacity: 0;
      transition: 350ms;
    }
    .wrapper__slider_icon_active {
      transition: 350ms;
      cursor: pointer;
      opacity: 1;
    }
    .wrapper__slider {
      margin: 18px auto;

      & > div {
        align-items: center;
      }

      .wrapper__slider_slide {
        width: max-content;
        height: max-content;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: visible;

        .wrapper__slider_img {
          width: max-content;
          height: max-content;
          max-width: 100%;
          max-height: 485px;
          object-fit: contain;
        }
      }
    }
  }
  .wrapper__info {
    width: 100%;
    height: max-content;
    margin: 0px auto 21px auto;

    .wrapper__info_block {
      width: 100%;
      height: max-content;
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      color: var(--main-grey);

      &:first-child {
        color: var(--main-white);
      }
    }
    .wrapper__info_text {
      width: max-content;
      height: max-content;
      font-family: "Unbounded-Regular";
      font-weight: lighter;
      font-size: 12px;
    }
    .wrapper__info_price {
      width: max-content;
      height: max-content;
      font-family: "Unbounded-Regular";
      font-weight: lighter;
      font-size: 12px;
      color: var(--main-white);
    }
  }
  .wrapper__icon {
    width: max-content;
    height: max-content;
    display: block;
    margin: 0 auto;
  }
}
