@import url("../../assets/styles/style.css");

.wrapper {
    width: max-content;
    height: max-content;

    .wrapper__block {
        width: max-content;
        height: max-content;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .block__img {
            width: max-content;
            height: max-content;
        }
        .block__text {
            width: max-content;
            height: max-content;
            font-family: "Unbounded-Bold";
            font-weight: bolder;
            font-size: 16px;
            color: var(--main-grey);
        }
    }
    .wrapper__text {
        width: max-content;
        height: max-content;
        display: block;
        margin: 0 auto;
        font-family: "Unbounded-Regular";
        font-weight: light;
        font-size: 16px;
    }
}
